.slider {
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grand {
    position: relative;
}

.slider2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    display: contents;
}

.image {
    width: 100%;
    object-fit: fill;
    display: block;
    margin: auto;
}

.left-arrowImg,
.right-arrowImg {
    position: absolute;
    top: 40%;
}

.left-arrowImg {
    left: 0;
    font-size: 3rem;
    color: #808080;
    z-index: 999;
    cursor: pointer;
    user-select: none;
}

.right-arrowImg {
    right: 0;
    font-size: 3rem;
    color: #808080;
    z-index: 999;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .left-arrowImg {
        left: -20px;
    }

    .right-arrowImg {
        right: -20px;
    }

    .left-arrowImg,
    .right-arrowImg {
        top: 35%;
    }
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}