.bg-last {
    background: #116d66;
}

.bg-last h1,
.bg-last h2 {
    text-align: center;
    margin: 0;
    color: #fff;
}

.bg-last-card {
    background: #dddcdc;
    padding: 1rem 3rem !important;
}

.form-wrapper {
    display: grid;
    grid-gap: 10px;
    color: #444;
}

form {
    width: 100%;
}

.box {
    border-radius: 5px;
    height: 30px;
}

.box-half {
    width: 100%;
}

input,
.box {
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    padding: 0 .5rem;
    height: 23px;
    word-wrap: break-word;
}

.box label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    word-wrap: break-word;
}

input:focus {
    outline: none;
}

.input-enable {
    grid-column: 1 / 4;
    grid-row: 1;
}

.input-disabled-a {
    grid-column: 1;
    grid-row: 2;
}

.input-disabled-b {
    grid-column: 1;
    grid-row: 3;
}

.input-disabled-c {
    grid-column: 1;
    grid-row: 4;
}

.input-value-a {
    grid-column: 2;
    grid-row: 2;
}

.input-value-b {
    grid-column: 2;
    grid-row: 3;
}

.input-value-c {
    grid-column: 2;
    grid-row: 4;
}

.preview {
    height: 100%;
    grid-column: 3;
    grid-row: 2 / 5;
    background: none;
}

.input-val {
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .input-disabled-a,
    .input-disabled-b,
    .input-disabled-c {
        width: 92.5px;
    }

    input {
        font-size: 12px;
    }
}

button {
    width: 100%;
    height: 100%;
    background: #116d66;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0 1rem;
    height: 23px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button {
    margin: 10px 0;
}

button:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: translateY(-1px);
}

.preview-img {
    margin: auto;
    width: 100%;
    height: 80px;
    object-fit: contain;
}