.bg-white {
    background: #fff;
}

.pkg-heading {
    text-align: center;
}


.bronze {
    background: #c5dcdf;
}

.gold {
    background: #d8c497;
}

.diamond {
    background: #c9cc2a;
}

.bronze,
.gold,
.diamond {
    width: 28%;
    min-height: 450px;
}

.bronze h1,
.gold h1,
.diamond h1,
span {
    padding: 1.5rem 0;
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: "✔ ";
    font-size: 16px;
    text-align: start;
    padding: 16px;
}

@media only screen and (max-width: 768px) {

    .bronze,
    .gold,
    .diamond {
        height: auto;
        width: 65%;
        margin: 1rem;
    }
}