@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Qwitcher+Grypen:wght@700&family=Rubik&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}


#root {
    background-color: rgb(220 220 220);
}

body,
h1 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 18px;
}