@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Qwitcher+Grypen:wght@700&family=Rubik:wght@800&family=Work+Sans:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
}


#root {
    background-color: rgb(220 220 220);
}

body,
h1 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -.5px;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}